div{
    width: 200px;
    height: 200px;
    margin: 10px;
}

.one{
    /* background-color: salmon; */
    /* background: linear-gradient(45deg ,salmon,palevioletred); */
    background: linear-gradient(to top right,red,green,blue);
}

.two{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.8));
}